div.container {
  max-width: 800px;
}

div.app-body {
  background-color: #51b1a7;
}

h1 {
  color: white;
}

.btn {
  color: white;
  background-color: #e1aa37;
}

.current-city {
  text-align: center;
  margin-bottom: 0px;
}

.current-city .units {
  font-size: 18px;
}

h2 {
  color: #265d6b;
}

.conditions-api {
  margin: 0px;
  font-size: 18px;
  color: blue;
  line-height: 0px;
}
.this-week {
  color: grey;
  font-size: 50px;
}

.btn-current {
  background-color: #265d6b;
}
